.cell-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 5px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  color: rgba(255, 255, 255, .4);

  border-radius: 15px;

  .cell__number {
    font-size: 30px;
    //color: #f5f8fa;
  }
}

.cell__active {
  //background-color: #1da1f2;
  color: #f5f8fa;
}

.cell--2 {
  background-color: #515EB7;
}
.cell--4 {
  background-color: #F46859;
}
.cell--8 {
  background-color: #39DEB6;
}
.cell--16 {
  background-color: #1DBE1A;
}
.cell--32 {
  background-color: #AD1378;
}
.cell--64 {
  background-color: #FC97D5;
}
.cell--128 {
  background-color: #F11D24;
}
.cell--256 {
  background-color: #919620;
}
.cell--512 {
  background-color: #FF00AE;
}
.cell--1024 {
  background-color: #A0FB8C;
}
.cell--2048 {
  background-color: #328CA4;
}
.cell--4096 {
  background-color: #00680F;
}
.cell--8192{
  background-color: #002499;
}
.cell--16384 {
  background-color: #990000;
}
