.header-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  display: flex;
  margin-right: 60px;
  color: #fff;

  .header__logo {
    margin-right: 5px;
  }

  .header__author {

  }
}