.footer-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 10px 60px;

  color: #fff;

  .footer-school {
    a {
      text-decoration: none;
      color: #fff;
      transition: .3s;

      &:hover {
        cursor: pointer;
        color: #1da1f2;
      }
    }
  }
  .footer-author {
    a {
      text-decoration: none;
      color: #fff;
      transition: .3s;

      &:hover {
        cursor: pointer;
        color: #1da1f2;
      }
    }
  }
  .footer-year {}
}