@import 'assets/stylesheets/common/reset';
@import 'assets/stylesheets/fonts';

body {
  @include lato-bold();
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);

  //max-width: 600px;
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 600px;
  margin: 0 auto;
}


